 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560807454-c23ba0bfa2bb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872);">
    <div class="banner-text">
      <h1><strong>Welcome to Aladinaba</strong></h1>
      <br>
      <p>Rent a beautiful carpet for a day</p>
    </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div id="new-carpet-card" class="card" style="width: 18rem">
      <div class="card-body">
        <h3>Add a new carpet</h3></div>
        <%= link_to 'New Carpet', new_carpet_path, class:"btn btn-dark" %>
      </div>
    </div>
  </div>

 

<div class="container-cards">
  <% @carpets.each do |carpet| %>
    <%= link_to carpet_path(carpet), class: "text-decoration-none link-dark" do %>
    <div class="cards">
      <% if carpet.photo.attached? %>
          <%= cl_image_tag carpet.photo.key, width: 250, crop: :fill %>
      <% end %>
      <div class="card-body">
        <div class="cards-bottom-left">
          <h3><%= carpet.name %></h3>
          <p><%= carpet.description %></p>
          Available: <%= carpet.available%>
        </div>
        <div class="cards-bottom-right">
          <h2>Price: <%= carpet.price%>€</h2>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
