<div class="container">
    <h1>Carpets</h1>

  <div class="container-cards">
    <% @carpets.each do |carpet| %>
    <a class="text-decoration-none link-dark" href=""><%  %>
      <div class="cards">
        <div class="card-img-top">
           <%= cl_image_tag carpet.photo.key, width: 300, crop: :fill %>
        </div>
        <div class="card-body">
          <h2><%= carpet.name %></h2>
          <p><%= carpet.description %></p>
        </div>
          <li>Available: <%= carpet.available%></li>
        <div class="cards-bottom">
          <h2><%= carpet.price%>€</h2>
        </div>
      </div>
    </a>
    <% end %>
  </div>

  
  
  <br>
    <h3 type="button ">
      <%= link_to 'New Carpet', new_carpet_path %>
    </h3>
  <br>

</div>
