<div class="d-flex show-card">
  <div class="show-card-details">
    <div class="show-card-title">
      <h2><%= @carpet.name %></h2>

    </div>
    <div class="details">
      <p>Description: <%= @carpet.description %></p>
      <p>Address: <%= @carpet.address %></p>
      <p>Condition: <%= @carpet.condition %></p>
    </div>
    <div>
    <%# <%= cl_image_tag @carpet.photo.key, height: 300, width: 400, crop: :fill %> %>
    </div>
    <p>Available: <%= @carpet.available %></p>
    <div>Price per day: <%= @carpet.price %> €</div>
  </div>
  <div>
    <%= link_to "Edit", edit_carpet_path(@carpet), class: "btn btn-dark" %>
    <%= link_to "Delete", carpet_path(@carpet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-dark" %>
    <%= link_to "Book", new_carpet_booking_path(@carpet),class: "btn btn-dark" %>
  </div>
  
</div>
